<div class="container text-center padded">
  <form class="ask-form" action="/answer">
    <label for="question" id="coach-label">Speak to your coach:</label>
    <br>
    <input type="text" id="question" name="query" placeholder="talk to me baby">
    <br>
    <input class="btn btn-info" type="submit" value="Go on!">
  </form>
</div>
